
body {
    background-color: orange;
    font-family: fantasy;
    }
h1 {
    background-color: pink;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    }
h2 {
    background-color: cyan;
    color:grey;
}